#contact{
    padding-top: 10px;
}
.cardlist{
    box-shadow: 5px 10px 8px rgb(32, 32, 32); 
}
#searchbar{
    width: 400px;
}
.nav-item{
    font-weight: bold;
    padding:5px;
    margin-left: 30px; 
}
#bio{
    margin-right: 20px;
    margin-left: 20px;
    height: 600px;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
}
#biohead{
    font-size: 32px;
    font-weight: bold;
}
#address{
    margin-right: 20px;
    margin-left: 20px;
    height: 600px;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
}
#addresshead{
    font-size: 32px;
    font-weight: bold;
}
#loction{
    height: 300px;
    width: 650px;
}
#admin{
    height: 300px;
    width: 300px;
    text-align: center;
}
#map{
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    height: auto;
    width: auto;
    text-align: center;
    vertical-align: middle;
}
